<include file="public@header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs"> 
			<include file="admin@param/nav" />
			<li class="active"><a href="{:url('edit_info',['id'=>$info1.id])}">审核{$flag}</a></li>  
		</ul>
		<form class="form-horizontal js-ajax-form{$zzajax} margin-top-20" role="form" method="post" action="{:url('review_edit')}">
			<div class="form-group">
				<label  class="col-sm-2 control-label">id</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control" value="{$info.id}" readonly/>
				</div>
			</div>
			<div class="form-group">
				<label for="input-gender" class="col-sm-2 control-label">名称</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control"  value="{$info.name}" readonly/>
				 
				 <present name='change.name'>
				 	<input type="text" class="red form-control" value="{$change.name}" readonly/>
				 </present>
					
				</div>
			</div>
			 
			<div class="form-group">
				<label class="col-sm-2 control-label">简介</label>
				<div class="col-md-6 col-sm-10"> 
					<textarea class="form-control"  rows="5" readonly>{$info.dsc}</textarea>
				<present name='change.dsc'>
				 	<textarea class="red form-control" rows="5" readonly>{$change.dsc}</textarea>
				</present>
				</div>
			</div>
			 <div class="form-group">
				<label for="input-gender" class="col-sm-2 control-label">排序</label>
				<div class="col-md-6 col-sm-10">
					<input type="text" class="form-control"  value="{$info.sort}" readonly/>
				<present name='change.sort'>
				 	<input type="text" class="red form-control" value="{$change.sort}" readonly/>
				 </present>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-2 control-label">参数项</label>
				<div class="col-md-6 col-sm-10">
					<table class="table table-hover table-bordered table-list">
						<thead>
							<tr>
							 	<th width="15">
							 	 
								</th>
								<th >参数id-名</th>
								<th >类型</th>
								<th >可选值</th>
								<th width="15">
							  
								</th>
								<th >参数id-名</th>
								<th >类型</th>
								<th >可选值</th>
							</tr>
						</thead>
						<tbody>
					   <present name='change.content'>
					 	 <for start="0" end="$end" step="2" name="i" >
  
						 	<tr >
								<td>
									<input type="checkbox" class="js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$i]['id']}" <if condition="in_array($params[$i]['id'],$ids)">checked</if> /> 
									<input type="checkbox" class="red js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$i]['id']}" <if condition="in_array($params[$i]['id'],$change.content)">checked</if> /> 
								</td> 
								<td>{$params[$i]['id']}-{$params[$i]['name']}</td> 
								<td>{$param_types[$params[$i]['type']]}</td> 
								<td>{$params[$i]['content']}</td>
								 
								<td>
									<input type="checkbox" class="js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$i+1]['id']}" <if condition="in_array($params[$i+1]['id'],$ids)">checked</if> />
									<input type="checkbox" class="red js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$i+1]['id']}" <if condition="in_array($params[$i+1]['id'],$change.content)">checked</if> /> 
								</td> 
								<td>{$params[$i+1]['id']}-{$params[$i+1]['name']}</td> 
								<td>{$param_types[$params[$i+1]['type']]}</td> 
								<td>{$params[$i+1]['content']}</td>
								 
							 </tr>
							 
					 	</for>
					 	<if condition="$end eq $i">
					 		<tr >
								<td>
									<input type="checkbox" class="js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$end]['id']}" <if condition="in_array($params[$end]['id'],$ids)">checked</if> /> 
									<input type="checkbox" class="red js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$i]['id']}" <if condition="in_array($params[$i]['id'],$change.content)">checked</if> /> 
								</td> 
								<td>{$params[$end]['id']}-{$params[$end]['name']}</td> 
								<td>{$param_types[$params[$end]['type']]}</td> 
								<td>{$params[$end]['content']}</td>
								 
								<td></td> 
								<td> </td> 
								<td> </td> 
								<td> </td>
								 
							 </tr>
						</if>
					 	<else/>
					 	<for start="0" end="$end" step="2" name="i" >
  
						 	<tr >
								<td>
									<input type="checkbox" class="js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$i]['id']}" <if condition="in_array($params[$i]['id'],$ids)">checked</if>> 
								</td> 
								<td>{$params[$i]['id']}-{$params[$i]['name']}</td> 
								<td>{$param_types[$params[$i]['type']]}</td> 
								<td>{$params[$i]['content']}</td>
								 
								<td>
									<input type="checkbox" class="js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$i+1]['id']}" <if condition="in_array($params[$i+1]['id'],$ids)">checked</if>>
								</td> 
								<td>{$params[$i+1]['id']}-{$params[$i+1]['name']}</td> 
								<td>{$param_types[$params[$i+1]['type']]}</td> 
								<td>{$params[$i+1]['content']}</td>
								 
							 </tr>
							 
					 	</for>
					 	<if condition="$end eq $i">
					 		<tr >
								<td>
									<input type="checkbox" class="js-check"
									data-yid="js-check-y" data-xid="js-check-x" name="ids[]"
									value="{$params[$end]['id']}" <if condition="in_array($params[$end]['id'],$ids)">checked</if> /> 
								</td> 
								<td>{$params[$end]['id']}-{$params[$end]['name']}</td> 
								<td>{$param_types[$params[$end]['type']]}</td> 
								<td>{$params[$end]['content']}</td>
								 
								<td></td> 
								<td> </td> 
								<td> </td> 
								<td> </td>
								 
							 </tr>
						</if>
					 	
						</present>
						</tbody>
						
					</table>
					  
				</div>
			</div>
			 
			<div class="form-group">
				<label for="input-gender" class="col-sm-2 control-label">{$flag}状态</label>
				<div class="col-md-6 col-sm-10">
				 	<input type="text" class="form-control" value="{$statuss[$info.status]}" readonly/>  
				</div>
			</div>
			
			<div class="form-group rstatus">
				<label for="input-gender" class="col-sm-2 control-label">审核状态</label>
				<div class="col-md-6 col-sm-10">
				 <foreach name="review_status" item="vo">
				 <label class="radio-inline">
				 		<input type="radio" value="{$key}" name="rstatus" <if condition="$key eq $info1.rstatus">checked</if>/>{$vo}
				 </label>
				 </foreach>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10"> 
					<input type="hidden" name="id" value="{$info1.id}" /> 
					<eq name="info1.rstatus" value="1">
					<button type="submit" class="review_edit btn btn-primary js-ajax-submit"  >审核</button> 
					 </eq> 
					 
					 <p> </p>
				</div>
				
			</div>
		</form>
	 
	</div>
	<script src="__STATIC__/js/admin.js"></script> 
</body>
</html>
 <script>
 $('.review_edit').click(function(){
	 var status=$('.rstatus input:checked').val();
	 if(status=='1'){
		 
		 return false;
	 }
	 
	 $(this).parents('form').attr('action',"{:url('edit_review')}");
 });
 </script>