@CHARSET "UTF-8";
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
 
.red{
	color:red !important;
	border:1px solid red;
}
.params input{
	display:inline-block;
	width:80px ;
}
.save{
	margin:10px;
}
.fleft {
	float: left;
	width: 400px;
	 height: 60px; 
}
.fleft-all { 
	float: left;
	width: 100%;  
}
 .fleft .control-label,.fleft-all .control-label {
	width: 150px;
}  
.short{ 
	display:inline-block;
	width: 100px; 
}
.short2{
	display:inline-block;
	width: 150px;  
}
.short100{ 
	display:inline-block;
	width: 100px; 
}
.short150{ 
	display:inline-block;
	width: 100px; 
}
.short200{
	display:inline-block;
	width: 200px;  
}
.short300{
	display:inline-block;
	width: 300px;  
}
.short-auto{
	display:inline-block;
	width: auto;  
}
.fleft input{
	display:inline-block;
}
.notice{
	color:blue;
}
.pic1{
	background-position: center center;background-repeat: no-repeat;
 	 	display:inline-block;width:70px;height:70px;background-size:contain;
 	 }
#clickImg{
	  display: none;
	  position: fixed;
	  top:0;
	  right: 0;
	  left: 0;
	  bottom: 0;
	  margin: auto;
	  background: rgba(0,0,0,0.3); 
	 z-index: 10;	

  }
#clickImg .btnImg{text-align: right;padding: 5px 2%;}
#clickImg .glyphicon-remove-circle{font-size: 50px;color: #fff;cursor: pointer;}
#clickImg  #bigImg{margin: 0 auto;background-repeat: no-repeat;background-position: center center;max-width: 90%;max-height: 80%;} 
#btnPrev,#btnNext{position: absolute;right: 5%;top:30%;z-index: 200;}
#btnNext{top:50%;}
#btnPrev span.glyphicon,#btnNext span.glyphicon{font-size: 80px;color: #fff;cursor: pointer;}

 